/*
Copyright (C) 2014 NautDrafter

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/


/*
Base stylesheet for the NautDrafter UI.
For now, this is not a complete skin - it relies on the Java 8 default Modena skin (which can be explicitly set as the default from the main class if need be).
*/

/*=============================================
 * GENERAL
 *=============================================*/
@font-face {
	font-family: Play; /* JFX CSS seems to ignore this name, need to look into it */
	src: url('../assets/fonts/play/Play-Regular.ttf');
}

/* Variables 
---------------------*/
.root {
	/* Colours */
	-col-primary: rgb(12, 164, 192);
	-col-primary-trans: rgba(12, 164, 192, 0.4);
	-col-primary-active: rgba(78, 228, 255, 0.8);
	-col-primary-active-solid: rgba(17, 189, 221, 1);
	
	-col-secondary: rgb(252, 181, 18);
	-col-secondary-trans: rgba(252, 181, 18, 0.4);
	-col-secondary-active: rgba(255, 160, 0, 1);
	
	-col-picked-trans: rgba(160, 255, 10, 0.33);
	-col-banned-trans: rgba(255, 10, 10, 0.33);
	
	/* Overriding Modena presets, for elements that aren't explicitly styled by us 
	* Comment out to make it easier to explicitly style stuff
	*/
	
	-fx-base: #232732;
	-fx-text-base-color: white;
	-fx-background: derive(-fx-base, 10%);
	-fx-text-background-color: white;
	-fx-text-inner-color: white;
	-fx-control-inner-color: red;
	-fx-selection-bar: -col-primary;

	-col-text-base: white;
	-col-base: #01415a;
	
	/* Colours for red/blue team things */
	-col-team: #dddddd; /* Current team */
	-col-team-trans: #dddddd88;
	-col-team-active: #eeeeee;
	-col-team-text: #bbbbbb;
	
	-col-team-red: #f49a9a;
	-col-team-red-trans: #ff484859;	
	-col-team-red-active: #f9cccc;	
	-col-team-red-text: #d65656;
	
	-col-team-blue: #9abdf4;
	-col-team-blue-trans: #0d96ff4b;	
	-col-team-blue-active: #ccdffa;	
	-col-team-blue-text: #6bb9e5;
	
	-col-team-neutral: #aaaaaa;
	-col-team-neutral-trans: #aaaaaa88;	
	-col-team-neutral-active: #dddddd;	
	-col-team-neutral-text: #aaaaaa;
	
	-col-next: -col-team-neutral-active;
	-col-next-trans: -col-team-neutral-trans;
}

/* Global/general
---------------------*/
.root {
	-fx-font: 17px Play, sans-serif;
	-fx-background-color: -col-base;
	-fx-background-image: url(../assets/images/bg.png), url(../assets/images/bg-stars.png);
	-fx-background-size: cover, cover;
	-fx-background-position: 50% 50%, 50% 50%;
}

.locked-overlay {
	-fx-background-color: rgba(0, 0, 32,0.3);
}

/* Standard padding for elements that span the entire window area */
.root #main, .dialog, .locked-overlay {
	-fx-padding: 10px 10px 10px 10px;
}

HBox, VBox, TeamSelectionScreen {
	-fx-spacing: 10px;
}

.button-container {
	-fx-spacing: 5px;
}

/* for containers that want no spacing */
.no-spacing {
	 -fx-spacing: 0px !important;
}

/* for containers that want no spacing */
.no-padding {
	 -fx-padding: 0px !important;
}

.extra-spacing {
	-fx-spacing: 30px;
}

.padded-top {
	-fx-padding: 10px 0 0 0;
}

.label {
	-fx-text-fill: -col-text-base;
}

.small {
	-fx-font-size: 0.8em;
}

.larger {
	-fx-font-size: 24;
}

.hyperlink, .hyperlink:visited {
	-fx-text-fill: -col-primary;
}

Separator .line {
	-fx-background: derive(-col-base, -10%);
}

.panel {
	-fx-background-color: rgba(255,255,255,0.1);
	-fx-background-radius: 5px;
	-fx-padding: 10px;
	-fx-spacing: 10px;
}

/* Fields for user input that generally have a label above the entry box  */
.fields-container > VBox {
	-fx-spacing: 2px;
}

/* Standard padding for most text-containing elements */
.text-field, 
.pasword-field,
.button,  
.choice-box, 
.combo-box-base,
.combo-box-base:editable > .arrow-button, 
.menu-button, 
.split-menu-button > .label, 
.split-menu-button > .arrow-button,
.chat-area,
.titled-pane > .title {
	-fx-padding: 10px;
}


.filter-flow-pane .flow-pane {
	-fx-padding: 5px;
}

.scroll-pane, .scroll-pane > * {
	-fx-background-color: transparent;
	-fx-border-width: 0;
}

/* Making things that have been disabled because the player is a spectator look the same as normal */
.spectator *:disabled {
	-fx-opacity: 1;
}

/* Typography
---------------------*/
.h2,
.titled-pane.h2-title > .title .text,
.titled-pane.h2-title > .arrow-button {
	-fx-font-size: 19px;
	-fx-text-fill: -col-primary-active;
	-fx-fill: -col-primary-active;	
}

.titled-pane.h2-title > .title > .arrow-button > .arrow {
	-fx-background-color: -col-primary-active;	
}

.h4 {
	-fx-text-fill: #aaaaaadd;
}

/*=============================================
 * CLICKY LOOKING THINGS
 *=============================================*/
.button,  
.choice-box, 
.combo-box-base,
.combo-box-base:editable > .arrow-button, 
.menu-button, 
.split-menu-button > .label, 
.split-menu-button > .arrow-button {
	-fx-background-insets: 0, 1, 3;
	-fx-background-radius: 2px;
	-fx-text-alignment: center;
}

.button, 
.choice-box, 
.context-menu,
.combo-box-base,
.combo-box-base:editable > .arrow-button, 
.menu-button, 
.split-menu-button > .label, 
.split-menu-button > .arrow-button {
	-fx-background-color: -col-primary-active, -col-base, linear-gradient(to top, derive(-col-primary-trans, -20%), -col-primary-trans);
}

/* Setting the fill colour of clicky-things' main labels */
.button,  
.choice-box > .label, 
.combo-box-base > .list-cell:selected,
.menu-button > .label, 
.split-menu-button > .label,
.tab-button {
	-fx-text-fill: -col-text-base;
}

/* Highlighting items that could do damage if clicked (e.g. button to kill a server) */
.critical:hover,
.critical:focused {
	-col-primary: -col-secondary;
	-col-primary-active: -col-secondary-active;
	-col-primary-trans: -col-secondary-trans;
}

/* Button specific
----------------------*/

.button:hover, 
.split-menu-button > .label:hover, 
.split-menu-button > .arrow-button:hover {
	-col-primary: -col-primary-active;
	-col-primary-trans: -col-primary;
	-fx-effect: dropshadow(three-pass-box, -col-primary, 15, 0, 0, 0);
}

.button:focused,
.choice-box:focused, 
.combo-box-base:focused,
.combo-box-base:editable > .arrow-button:focused, 
.menu-button:focused, 
.split-menu-button:focused {
	-fx-effect: dropshadow(three-pass-box, -col-primary, 15, 0, 0, 0);
}

.button:pressed,
.split-menu-button:pressed > .label,
.split-menu-button:pressed > .arrow-button {
	-fx-background-color: -col-primary-active, -col-base, linear-gradient(to bottom, derive(-col-primary-trans, -0%), -col-primary-trans);
	-fx-effect: dropshadow(three-pass-box, -col-primary, 30, 0, 0, 0);
}

.button:pressed > .text,
.tab-button:pressed > .text {
	-fx-background-color: -col-primary-active, -col-base, linear-gradient(to bottom, derive(-col-primary-trans, -0%), -col-primary-trans);
	-fx-effect: dropshadow(three-pass-box, -col-text-base, 20, 0, 0, 0);
}

/* Split-menu-button specific
----------------------*/
.split-menu-button > .label {
	-fx-background-insets: 0, 1 0 1 1, 3 0 3 3;
	-fx-background-radius: 2px 0 0 2px;
	-fx-alignment: center;
	-fx-padding: 0 0 0 32px;
}

.split-menu-button > .arrow-button {
	-fx-background-insets: 0, 1 1 1 0, 3 3 3 1;
	-fx-background-radius: 0 2px 2px 0;
}

.split-menu-button > .arrow-button > .arrow {
	-fx-background-insets: 0 0 -1 0, 0;
	-fx-padding: 0.166667em 0.333333em 0.166667em 0.333333em; /* 2 4 2 4 */
	-fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

/* Tabs (and tab bar)
----------------------*/
.tab-bar {
	-fx-background-color: transparent;
	-fx-background-radius: 5px 5px 0 0;	
}

.tab-button {	
	-fx-background-radius: 5px 5px 0 0;
	-fx-background-color:  transparent;
}

.tab-button:selected {
	-fx-background-color: rgba(255,255,255,0.1);
	-fx-text-fill: -col-primary-active;	
}

.tab-button:selected .text {
	-fx-effect: dropshadow(three-pass-box, -col-primary-trans, 5px, 0, 0, 0);
}

.tab-button:hover,
.tab-button:focused {
	-fx-text-fill: -col-primary-active;
}

.filter-flow-pane {
	-fx-background-color: rgba(255,255,255,0.1);
	-fx-background-radius: 5px;
	-tab-spacing: 0;
}

.filter-flow-pane .scroll-pane {
	-fx-background-color: rgba(255,255,255,0.1);
	-fx-background-radius: 0 0 5px 5px;
}

/* Icon'd Clicky Things
 * (buttons and similar components that contain an icon instead of text)
----------------------*/
.menu-button.icon {
	-fx-background-color: transparent;
	-fx-padding: 0;
	
	-fx-pref-width: 16px;
	-fx-content-display: graphic-only;
}

.menu-button.icon>.label {
	-fx-padding: 0;
}

.menu-button.icon>.arrow-button {
	-fx-padding: 0 0 0 5px;
	-fx-opacity: 0.6;
}

.menu-button>.arrow-button>.arrow {
	-fx-padding: 0.15em 0.3em;
}

.menu-button.icon.icon-config {
	-fx-graphic: url(../assets/images/icons/config-16px.png);
}

/* Radio Buttons
----------------------*/
.radio-button > .radio {
	-fx-background-color: rgba(255,255,255,0.1), linear-gradient(to bottom, derive(-col-base, -50%), derive(-col-base, 10%));
	-fx-background-radius: 1em;
	-fx-background-insets: 0 -0.7px -0.7px 0, 0;
	-fx-padding: 1px;
	-fx-border-color: transparent;
	-fx-border-radius: 1em;
}

.radio-button > .radio > .dot {
	-fx-background-color: transparent;
	-fx-padding: 0.4em;
	-fx-background-radius: 1em;
	-fx-background-insets: 0;
}

.radio-button:focused > .radio {
	-fx-border-color: -col-primary;
	-fx-effect: dropshadow(three-pass-box, -col-primary, 7px, 0, 0, 0);
}

.radio-button:selected > .radio > .dot {
	-fx-background-color: linear-gradient(to bottom, -col-primary-active, -col-primary);	
}

/* Checkboxes
----------------------*/
.check-box > .box {
	-fx-padding: 0.06em;
	-fx-background-color: transparent;
	-fx-border-color: rgba(255,255,255,0.6);
	-fx-border-width: 1px;
	-fx-border-radius: 1px;
}

.check-box:focused > .box {
	-fx-effect: dropshadow(three-pass-box, -col-primary-active, 15, 0, 0, 0);
	-fx-border-color: -col-primary-active;	
}
.check-box > .box > .mark {
	-fx-background-color: transparent;
	-fx-shape: "M 14.207526,0 5.3477793,8.812846 2.1109654,5.5760309 0,7.710451 5.359506,13 16.341946,2.110965 z";
	-fx-padding: 0.4em;
	-fx-translate-x: 0.22em;
	-fx-translate-y: -0.2em;
	/* Scaling more on the horizontal to remove squashed-ness */
	-fx-scale-x: 1.5;
	-fx-scale-y: 1.3;
}

.check-box:selected > .box > .mark {
	-fx-background-color: -col-primary-active-solid;
}

/* Context Menus
----------------------*/
.context-menu {
	-fx-background-insets: 0;
	-fx-background-radius: 2px;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.75), 10, 0, 0, 0);
	-fx-padding: 5px;
}

.context-menu .menu-item {
	-fx-background-radius: 2px;
}

/*=============================================
 * TEXT INPUT CONTROLS
 *=============================================*/
.text-field, .pasword-field {
	-fx-background-color:  -col-base, rgba(0,0,0,0.2);
	-fx-background-insets: 0, 1, 3;
	-fx-background-radius: 2px;
	-fx-border-color: -col-primary;
	-fx-border-radius: 2px;
	-fx-text-fill: -col-text-base;
	-fx-prompt-text-fill: derive(-col-primary, -30%);
	-fx-highlight-fill: -col-primary;
}

.pasword-field:focused, .text-field:focused {
	-fx-background-color: -col-primary-active, -col-base, rgba(0,0,0,0.2);
	-fx-effect: dropshadow(three-pass-box, -col-primary, 15, 0, 0, 0);
}

/*=============================================
 * TABLEVIEWS
 *=============================================*/

.table-view,
.tree-table-view {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-border-width: 0;
	-fx-table-cell-border-color: transparent;
}

/* Column Headers
----------------------*/
/* Entire area behind the column headers */
.table-view > .column-header-background,
.tree-table-view > .column-header-background {
	-fx-background-color: transparent;
	-fx-border-color: transparent transparent linear-gradient(from 0% 0% to 50% 0%, reflect, transparent, -col-primary 10%) transparent;
	-fx-border-width: 0 0 2px 0;
	-fx-padding: 0;
}

/*  The individual column headers.
	Filler is the extra space shown when the columns don't fill the whole width.  */
.table-view .column-header,
.tree-table-view .column-header,
.table-view .filler,
.tree-table-view .filler {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-border-width: 0;
	-fx-padding: 0;
}

/* Labels on the individual column headers */
.table-view .column-header .label,
.tree-table-view .column-header .label {
	-fx-text-fill: -col-primary-active;
	-fx-font-weight: normal;
	-fx-alignment: CENTER_LEFT;
}

/* Giving headers a subtle glow when clicked */
.table-view .column-header:pressed .label,
.tree-table-view .column-header:pressed .label {
	-fx-effect: dropshadow(three-pass-box, -col-primary, 20, 0, 0, 0);
} 

/* Sorting arrows for columns */
.table-view .column-header .arrow,
.tree-table-view .column-header .arrow {
	-fx-background-color: -col-primary;
	-fx-padding: 0.15em 0.3em;
	-fx-shape: "m 0,1049.7543 2.3094242,2.6079 2.3094241,-2.6079 z";
}

.table-view .column-header,
.tree-table-view .column-header {
	/* Padding the right side of column headers, so the sorting arrow has some space */
	-fx-padding: 0 10px 0 0;
}

.table-view .column-drag-header,
.tree-table-view .column-drag-header {
	-fx-background-color: -col-primary-active;	
	-fx-alignment: CENTER_LEFT;
}

.table-view .column-resize-line,
.tree-table-view .column-resize-line {
	-fx-background-color: -col-primary;	
	-fx-effect: dropshadow(three-pass-box, -col-primary, 30, 0, 0, 0);
}

/* Table Rows & Cells
----------------------*/
.table-row-cell,
.tree-table-row-cell {
	-fx-background-color: transparent;
	-fx-background-insets: 0.0;
	-fx-text-fill: -col-text-base;
}

.table-view .cell,
.tree-table-view .cell {
	-fx-text-fill: -col-text-base;
	-fx-border-color: transparent;
	-fx-border-width: 0;
	-fx-alignment: center-left;
}

/* Selected row of the table */
.table-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected, 
.tree-table-view > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:filled:selected,
.table-view:row-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:focused:selected:hover,
.tree-table-view:row-selection > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:filled:focused:selected:hover {
	-fx-background-color: -col-primary-trans;
	-fx-background-color: linear-gradient(from 0% 0% to 50% 0%, reflect, transparent, -col-primary-trans 10%);
}

/*=============================================
 * TITLEDPANES
 *=============================================*/
.titled-pane,
.titled-pane > .title,
.titled-pane > .content {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-border-width: 0;
}

.titled-pane > .title {
	-fx-background-color: rgba(255,255,255,0.1);
	-fx-background-radius: 5px 5px 0 0;
	-fx-padding: 10px;
}

.titled-pane:expanded > .title {
	-fx-background-color: rgba(255,255,255,0.15);
}

/* Removing rounding from top corners of panels that are direct children of the pane's content area 
(so it fits nicely with the title area) */
.titled-pane > .content > * > .panel {
	-fx-background-radius: 0 0 5px 5px;
}

.titled-pane:focused > .title,
.titled-pane > .title:hover {
	-fx-background-color: rgba(255,255,255,0.15);
	-fx-effect: dropshadow(three-pass-box, -col-primary, 15, 0, 0, 0);
}

.titled-pane > .title > .arrow-button > .arrow {
	-fx-background-color: -fx-text-base-color;
	-fx-background-insets: 1 1 0 -1;
	-fx-padding: 0.2em 0.3em 0.2em 0.3em;
	-fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

/*=============================================
 * SCROLLBARS
 *=============================================*/
.scroll-bar {
	-fx-background-color: transparent;
	-fx-opacity: 0.8;
}

.web-view .scroll-bar {
	-fx-background-color: black;
	-fx-opacity: 1;
}

.web-view .scroll-bar .thumb {
	-fx-background-color: -col-primary;
	-fx-opacity: 0.75;
}

.scroll-bar .track-background, 
.scroll-bar .track {
	-fx-background-color: transparent;
}

.scroll-bar .thumb {
	-fx-background-radius: 2px;
	-fx-background-color: -col-primary-trans;
}

.scroll-bar .increment-button, 
.scroll-bar .decrement-button {
	-fx-background-color: transparent;
	-fx-padding: 0;
}

.scroll-bar:horizontal .increment-arrow, 
.scroll-bar:horizontal .decrement-arrow {
	-fx-background-color: transparent;
	
	/* Overall scrollbar height is set by the button's padding '*/
	-fx-padding: 15px 0 0 0;
}

.scroll-bar:vertical .increment-arrow, 
.scroll-bar:vertical .decrement-arrow {
	-fx-background-color: transparent;
	-fx-padding: 0 15px 0 0; 
}

.scroll-bar:hover {
	-fx-opacity: 1;
}

.scroll-bar:hover .thumb {
	-fx-effect: dropshadow(three-pass-box, -col-primary, 30, 0, 0, 0);
}

/*=============================================
 * COMBO BOXES
 *=============================================*/
.combo-box-popup > .list-view {
	-fx-background-color: rgba(0,0,0,0.5);
	-fx-background-insets: 0;
	-fx-background-radius: 2px;
	-fx-text-fill: -col-text-base;
}


/*=============================================
 * TEAM SPECIFIC ELEMENTS
 *=============================================*/
 /* setting the team colours to the appropriate values */
 
.blue-team {
	-col-team: -col-team-blue;
	-col-team-trans: -col-team-blue-trans;
	-col-team-trans-less: -col-team-blue-trans-less;
	-col-team-text: -col-team-blue-text;
	-col-team-active: -col-team-blue-active;
}
 
.red-team {
	-col-team: -col-team-red;
	-col-team-trans: -col-team-red-trans;
	-col-team-trans-less: -col-team-red-trans-less;
	-col-team-text: -col-team-red-text;
	-col-team-active: -col-team-red-active;
}
 
.team .text-field {
	-col-primary: -col-team;
	-col-primary-trans: -col-team-trans;
	-col-primary-active: -col-team;
 	-col-active: -col-team-active;
 	-col-text-base: -col-team;
 	-fx-alignment: center;
}
 
.team.blue-team {
	-fx-background-color: linear-gradient(to left, -col-team-trans, transparent);
}
 
.team.red-team {
	-fx-background-color: linear-gradient(to right, -col-team-trans, transparent);
}
 
/* Team name entry text field */
.team .text-field {
	-fx-background-color: rgba(0,0,0,0.2);
}

.team .text-field:readonly {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-effect: null;
	-fx-prompt-text-fill: transparent;
}

.team .text-field:focused {
	-fx-prompt-text-fill: transparent;
}

.team .team-name {
	-fx-font-size: 24px;
	-fx-text-fill: -col-team-text;
}

.teams {
	-fx-background-color: linear-gradient(to right, -col-team-red-trans, transparent 50%, -col-team-blue-trans);
}

.team .time-large {
	-fx-font-size: 24px;
	-fx-text-fill: -col-team-text;
}

.team .colour {
	-fx-text-fill: -col-team-text;
}

/*=============================================
 * DRAFTING SCREEN ELEMENTS
 *=============================================*/
.picker {
	-fx-padding: 5px;
}

.picker {
	-fx-background-color:  linear-gradient(to top, rgba(0,0,0,0.2), transparent);
	-fx-background-radius: 5px;
	-fx-border-color: linear-gradient(from -10% -10% to 110% 110%, -col-team, -col-team-trans, -col-team);
	-fx-border-radius: 2px;
	-fx-border-width: 1.25px;
}

.next-pick {
	-fx-effect: dropshadow(three-pass-box, -col-next-trans, 20, 0, 0, 0);
	-fx-border-color: linear-gradient(from 0% 0% to 100% 100%, -col-next, -col-next-trans, -col-next);   
	
	-fx-border-radius: 5px;
	-fx-border-width: 2px;
}

.toggle-button.picker:hover,
.toggle-button.picker:selected,
.toggle-button.picker:focused {
	-fx-effect: dropshadow(three-pass-box, -col-team, 15px, 0, 0, 0);
}

.toggle-button.character:hover,
.toggle-button.character:selected{
	-fx-effect: dropshadow(three-pass-box, -col-next, 15px, 0, 0, 0);
}

.toggle-button.character:captain {
	-fx-effect: dropshadow(three-pass-box, lime, 5px, 0, 0, 0) !important;
}

/* Indicating picked and banned nauts */

.toggle-button.character:picked {
	-fx-effect: dropshadow(three-pass-box, -col-picked-trans, 5px, 0, 0, 0);
}

.toggle-button.character:banned {
	-fx-effect: dropshadow(three-pass-box, -col-banned-trans, 5px, 0, 0, 0);
}

.toggle-button.character:picked .overlay {
	-fx-background-color: -col-picked-trans;
	-fx-background-image: url(../assets/images/icons/tick-24px.png);
}

.toggle-button.character:banned .overlay {
	-fx-background-color: -col-banned-trans;
	-fx-background-image: url(../assets/images/icons/ban-24px.png);
}

.toggle-button.character:picked .overlay, .toggle-button.character:banned .overlay {
	-fx-background-position: center center;
	-fx-background-repeat: no-repeat;	
	-fx-background-radius: 3px;
	-fx-effect: dropshadow(three-pass-box, #000000, 5px, 0, 0, 0);
}

.toggle-button.character:banned:hover,
.toggle-button.character:banned:pressed,
.toggle-button.character:picked:hover,
.toggle-button.character:picked:pressed  {
	-fx-hover-base: -fx-base;
	-fx-pressed-base: -fx-base;
}

/* Player List
----------------------*/
.player-displayer {
	-fx-spacing: 10px;
}

.player-displayer .picker {
	-fx-padding: 3px;
	-fx-border-width: 1px;
}

.player-displayer > .label {
	-fx-text-fill: -col-team-text;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.25), 5px, 0, 0, 0);
}

/* Badges placed over the captains' icons */
.badge:hover {
	-fx-effect: dropshadow(three-pass-box, -col-team, 15px, 0, 0, 0);
}

.team.red-team .captain .captain-badge {
	-fx-image: url(../assets/images/icons/crown-red-16px.png);
}

.team.blue-team .captain .captain-badge {
	-fx-image: url(../assets/images/icons/crown-blue-16px.png);
}

.current-player {
	-fx-effect: dropshadow(three-pass-box, -col-team-active, 12px, 0, 0, 0);
}

/* Timelines
----------------------*/

/* drafting timeline for player */

.timeline > .label {
	-col-normal: white;
	-fx-text-fill: -col-normal; 
}

.timeline > .label.current {
	-fx-opacity: 1;   
}

.timeline > .label.red {
	-col-normal: #e34d4d;   
}

.timeline > .label.blue {
	-col-normal:  #00c0ff;   
}

.timeline > .label.current {
	-fx-effect: dropshadow(gaussian, -col-normal, 15px, 0.5, 0, 0);
}

/* drafting timeline for spectators */

.large-timeline {
	-col-normal: -col-team-text;
	-col-top: -col-normal;
	-col-shadow: -col-normal;
}

.large-timeline .red-team {
	-col-shadow: derive(-col-normal, +40%);
}

.large-timeline .pick {	
	-col-top: derive(-col-normal, +50%);
}

.large-timeline .ban {	
	-col-top: derive(-col-normal, -50%);
}

.large-timeline .old .shape,
.large-timeline .clip {
	-col-normal: derive(-col-team-text, -75%);
}

.large-timeline .label {
	-fx-text-fill: -col-team;
}

.large-timeline .piece-area .label.counter,
.large-timeline .item .clip {
	visibility: hidden;
}

.large-timeline .item.current .label.counter,
.large-timeline .item.current .clip {
	visibility: visible !important;
}

.large-timeline .label {
	-fx-text-fill: -col-normal;
}

.large-timeline .red-team .shape,
.large-timeline .red-team .clip {
	-fx-fill: linear-gradient(to top, -col-normal,  -col-top);
}

.large-timeline .blue-team .shape,
.large-timeline .blue-team .clip {
	-fx-fill: linear-gradient(to bottom, -col-normal,  -col-top);
}

.large-timeline .item.current .shape {	
	-col-top: -col-normal;
}

.large-timeline .item.current .shape.ban {	
	-col-normal: derive(-col-team-text, -20%);
}

.large-timeline .item.current .shape.pick {	
	-col-normal: derive(-col-team-text, +20%);
}

.large-timeline .item.current .shape,
.large-timeline .item.current.end {
	-fx-effect: dropshadow(gaussian, -col-shadow, 20px, 0.5, 0, 0);
}

.large-timeline .item.end .arrow {
	-fx-fill: linear-gradient(to bottom, grey,  black)
}

.large-timeline .end-icon:hover {
	-fx-effect: dropshadow(gaussian, -col-primary-trans, 20px, 0.5, 0, 0);
}

/* VS Screen name overlay and other vs screen stuff */

/* The name overlay only shows its background when there is a name to show */
.picker .name-overlay.chosen {
	-fx-background-color: linear-gradient(to top, black,  transparent);
}

.versus .picker {
	/* To get the overlay flush against the bottom of the box */
	-fx-padding: 0px !important;
}

.vs-label {
	-fx-font-size: 72px;
}

.timeline-conf {
	-fx-spacing: 10px;
}

.timeline-conf .label {
	-fx-text-fill: -col-team-text;
}

.timeline-conf .dropper:accepting {
	-fx-border-color: yellow;
}

.timeline-conf .dropper {
	-fx-border-width: 1px;
	-fx-padding: 10px;
	-fx-border-color: white;
}

.timeline-conf .placeholder {
	-fx-effect: dropshadow(gaussian, white, 20px, 0.5, 0, 0);
	-fx-background-color: linear-gradient(to top, transparent, #55555555 50%, transparent);
}

.timeline-conf.menu {
	-fx-background-color: -col-primary-active, -col-base, linear-gradient(to top, derive(-col-primary-trans, -20%), -col-primary-trans);
	-fx-padding: 5px;
}

/*=============================================
 * WEB/DOCS BROWSER
 *=============================================*/
.progress-line .track {
	-fx-background-color: transparent;
	-fx-border-width: 0;
	-fx-background-insets: 0;
	-fx-padding: 0;
	-fx-spacing: 0;
}

.progress-line .bar {
	-fx-background-color: -col-primary-active;
	-fx-padding: 1.5px 0;
	-fx-background-insets: 0;
	-fx-background-radius: 0;
	-fx-effect: dropshadow(three-pass-box, -col-primary-active, 6px, 0, 0, 0);
}

/*=============================================
 * TOOLBARS
 *=============================================*/
.tool-bar .button-container {
	-fx-spacing: 2px;
}

.tool-bar .button-container .button {
	-fx-background-radius: 0;
}

.tool-bar .button-container .button.first {
	-fx-background-radius: 2px 0 0 2px;
}

.tool-bar .button-container .button.last {
	-fx-background-radius: 0 2px 2px 0;
}

.tool-bar .button-container .button:hover,
.tool-bar .button-container .button:focused {
	-fx-effect: null;
}

/*=============================================
 * TITLE AREA & TITLEBARS
 *=============================================*/
.titlebar {
	-fx-background-color: #0d729366;
	-fx-padding: 10px;
}

.titlebar .button,
.titlebar .menu-button {
	-fx-graphic-text-gap: 0px;
	-fx-padding: 3px 0;
	-fx-background-color: linear-gradient(to top, derive(-col-primary-trans, -20%), derive(-col-primary-trans, -10%));
	-fx-background-insets: 0;
}

.browser .titlebar {
	-fx-background-color: #012f42;
	-fx-border-width: 0 0 1px 0;
	-fx-border-color: derive(#012f42, -20%);
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 4px, 0, 0, 0);
}

/* Buttons within menus
----------------------*/
.menu-item .button {
	-fx-background-color: linear-gradient(to top, derive(-col-primary-trans, -80%), derive(-col-primary-trans, -60%));
	-fx-background-insets: 0;
	-fx-padding: 2px 7px;
}

.menu-item .button:hover {
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10px, 0, 0, 0);
	-fx-background-color: linear-gradient(to top, derive(-col-primary-trans, 15%), derive(-col-primary-trans, 30%));
}

.iconHolder {
	-fx-border-color: -col-primary;
	-fx-border-width: 1px;
	-fx-border-radius: 1px;
}