/*
Copyright (C) 2014 NautDrafter

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

/*=============================================
 * IMAGE LIST CELL
 *=============================================*/

/* The inner area of the cell
----------------------*/
.image-list-cell-inner {
	-fx-padding: 5px;	
}

.image-list-cell-inner .image {
	-fx-opacity: 0.8;
}

.image-list-cell-inner:hover .image {
	-fx-opacity: 1;
}

.image-list-cell-inner .label {
	-fx-effect: dropshadow( one-pass-box, black, 5px, 0.2, 0, 0);
}